<aside id="colorlib-aside" role="complementary" >
  <div class="text-center">
    <div class="author-img" style="background-image: url(/assets/about.jpg);"></div>
  </div>
  <nav id="colorlib-main-menu" role="navigation" class="navbar">
    <ul>
      <li>
          <a><%= current_trainee.name if trainee_signed_in? %></a>
          <a><%= current_trainer.name if trainer_signed_in? %></a>
      </li>
    </ul>
    <ul>
      <li><%= link_to "Edit profile", edit_trainee_registration_path if trainee_signed_in? %></li>
      <li><%= link_to "Edit profile", edit_trainer_registration_path if trainer_signed_in? %></li>
      <li><%= link_to "Logout", destroy_trainee_session_path, method: :delete if trainee_signed_in? %></li>
      <li><%= link_to "Logout", destroy_trainer_session_path, method: :delete if trainer_signed_in? %></li>
    </ul>
  </nav>
</aside>
